torch>=2.0.0
torchinfo
transformers
pandas
numpy
matplotlib
seaborn
librosa
scikit-learn
tqdm
wordcloud
moviepy
gradio
static-ffmpeg
openai-whisper
torchvision>=0.21.0
torchaudio>=2.0.0
